<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="/signup/partner">
      <span>Novo Parceiro</span>
    </a>

    <a class="card" routerLink="/signup/issuer">
      <span>Novo Emissor</span>
    </a>

    <a class="card" routerLink="docs/signed">
      <span>Documentos Assinados</span>
    </a>
  </div>
</div>