<div class="container">
    <div class="row">
      <h3 i18n="titulo da pagina|Titulo da pagina de adesao de um parceiro@@newPartnerHeader">
        eInvoice - Adesão de Parceiro
      </h3>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form>
            <!------------------------------------------------------------------------------------------------->
            <!--CARACTERIZACAO DE EMPRESA-->
            <div class="row">
              <h5 i18n="titulo de seccao|Titulo da seccao de caracterizacao da empresa no formulario de adesao de um parceiro@@partnerEnterpriseSectionHeader">
                Caracterização Empresa
              </h5>
            </div>
            <mat-form-field>
              <input matInput id="nameInput" placeholder="Nome"
              i18n-placeholder="placeholder de nome|Placeholder para o nome da empresa no formulario de adesao de um parceiro@@partnerEnterpriseNamePlaceholder">
            </mat-form-field>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput id="nipcInput" placeholder="NIPC"
                  i18n-placeholder="placeholder de nipc|Placeholder para o NIPC da empresa no formulario de adesao de um parceiro@@partnerEnterpriseNipcPlaceholder">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field>
                  <mat-select id="countryInput" placeholder="País"
                  i18n-placeholder="placeholder de pais|Placeholder para o Pais da empresa no formulario de adesao de um parceiro@@partnerEnterpriseCountryPlaceholder">
                    <mat-option value="Espanha">Espanha</mat-option>
                    <mat-option value="EUA">EUA</mat-option>
                    <mat-option value="França">França</mat-option>
                    <mat-option value="Portugal">Portugal</mat-option>
                    <mat-option value="Ucrânia">Ucrânia</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="text-form" appearance="outline">
              <mat-label i18n="placeholder morada de faturacao|Placeholder para a morada de faturacao no formulario de adesao de um parceiro@@partnerEnterpriseBillingAddressPlaceholder">
                Morada de Faturação
              </mat-label>
              <textarea matInput placeholder="Morada de Faturação"
              i18n-placeholder="placeholder morada de faturacao|Placeholder para a morada de faturacao no formulario de adesao de um parceiro@@partnerEnterpriseBillingAddressPlaceholder"></textarea>
            </mat-form-field>
            <div class="dropdown-divider"></div>
            <!------------------------------------------------------------------------------------------------->
            <!--OPERADOR RESPONSAVEL-->
            <div class="row">
              <h5 i18n="titulo de seccao|Titulo da seccao de identificacao do operador responsavel no formulario de adesao de um parceiro@@partnerOperatorSectionHeader">
                Operador Responsável
              </h5>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput id="operatorName" placeholder="Nome"
                  i18n-placeholder="placeholder de nome|Placeholder para o nome do operador no formulario de adesao de um parceiro@@partnerOperatorNamePlaceholder">
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <input matInput id="usernameInput" placeholder="e-mail (username)"
              i18n-placeholder="placeholder de username|Placeholder para o username do operador no formulario de adesao de um parceiro@@partnerOperatorUsernamePlaceholder">
            </mat-form-field>
            <div class="dropdown-divider"></div>
            <!------------------------------------------------------------------------------------------------->
            <!--BOTAO-->
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col-sm-2">
                <button mat-raised-button i18n="botao de adesao de parceiro|Texto no botao de adesao de novo parceiro@@partnerEnrollmentButton">
                  Aderir
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>